<!DOCTYPE = html>
<html>
  <head>
    <style>
      body{background: #c0392b; font-family: verdana; color: #fff; padding: 30-px; }
      h1{font-size: 40px; text-transform: uppercase; letter-spacing: 2px;}
      h2{font-size: 30px; text-transform: uppercase; letter-spacing: 2px;}
      p{font-size: 16px;}
      li{font-size: 16px; }
    </style>
  </head>

  <body>
    <% include partials/nav.ejs %>
    <h1><%= person %>'s profile</h1>
    <p><strong>Name: </strong><%= person %></p>
    <p><strong>Age: </strong><%= data.age%></p>
    <p><strong>Institute: </strong><%= data.institute%></p>
    <h2>Hobbies</h1>
    <ul> <% data.hobbies.forEach(function(item){ %>
      <li><%= item%></li>
    <%  }); %>
    </ul>
  </body>
</html>
